Cheetah==2.4.4
Django==1.6.6
FormEncode==1.2.4
GnuPGInterface==0.3.2
M2Crypto==0.21.1
MySQL-python==1.2.5
PIL==1.1.7
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
PyJWT==0.2.1
PyYAML==3.10
apache-log-parser==1.4.0
apt-xapian-index==0.44
argparse==1.2.1
basemap==1.0.2
boto==2.2.2
chardet==2.0.1
cloud-init==0.6.3
command-not-found==0.2.44
configobj==4.7.2
dap==2.2.6.7
django-admin-bootstrapped==1.6.5
django-auth-ldap==1.2.2
django-cors-headers==0.13
django-extensions==1.2.5
django-filter==0.7
django-oauth2-provider==0.2.6.1
djangorestframework==2.3.14
djangorestframework-csv==1.3.3
djangorestframework-jwt==0.1.6
euca2ools==2.0.0
geoip2==0.5.0
google-api-python-client==1.2
httplib2==0.9
ipaddr==2.1.11
language-selector==0.1
lxml==2.3.2
matplotlib==1.1.1rc
maxminddb==1.0.0
meld3==1.0.0
mongoengine==0.8.7
newrelic==2.34.0.29
numpy==1.6.1
oauth==1.0.1
paramiko==1.7.7.1
pep8==1.4.6
pyOpenSSL==0.12
pycountry==1.6
pycrypto==2.4.1
pycurl==7.19.0
pymongo==2.6.3
pyparsing==1.5.2
python-apt==0.8.3ubuntu7.2
python-dateutil==2.1
python-debian==0.1.21ubuntu1
python-gflags==2.0
python-ldap==2.4.18
python-memcached==1.53
python-openid==2.2.5
python-termstyle==0.1.10
pytz==2011k
requests==2.2.1
scgi==1.13
shortuuid==0.4.2
simplejson==3.3.3
six==1.8.0
sqlparse==0.1.10
supervisor==3.1.4
tendo==0.2.6
uWSGI==2.0.7
ua-parser==0.3.5
ufw==0.31.1-1
unattended-upgrades==0.1
urllib3==1.8.2
user-agents==0.3.0
virtualenv==1.11.4
wsgiref==0.1.2
